---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

import type { CommonTranslations } from '@/collections/types'
import type { Lang } from '@/types'
import { getCdnImageUrl } from '@/utils'

import { LinkTitle } from './LinkTitle'

interface Props {
  lang: Lang
  project: CollectionEntry<'projects'>['data']
  commonTranslations: CommonTranslations
  isProjectDetailsEnabled: boolean
}

const {
  lang,
  project: { slug, title, translations, status, images, button, url },
  commonTranslations,
  isProjectDetailsEnabled,
} = Astro.props
---
<div class="card card-xm sm:card-sm md:card-md lg:card-lg overflow-hidden card-border shadow-sm">
  <Image src={getCdnImageUrl(images[0] ?? '')} alt={title} class="object-cover" inferSize />

  <div class="card-body gap-6">
    <div class="flex items-center justify-between">
      <LinkTitle href={url} title={title} className="card-title" as="h3" />

      <span class:list={['badge badge-outline', status === 'completed' ? 'badge-success' : 'badge-warning']}>
        <span class="hidden sm:block">{status}</span>
        <i class:list={['fa-solid', 'sm:[--fa-display:none]', status === 'completed' ? 'fa-check' : 'fa-clock']}></i>
      </span>
    </div>

    <p>{translations[lang].description}</p>

    <div class="card-actions">
      {isProjectDetailsEnabled && (
        <a href={`/${lang}/projects/${slug}`}>
          <button class="btn btn-primary">{commonTranslations['actions.details']}</button>
        </a>
      )}

      {button && (
        <a href={button.url} target="_blank" rel="noreferrer">
          <button class={'btn btn-ghost border-base-content gap-2'}>
            <i class={`fa-brands fa-${button.icon} fa-lg`} />
            <span>{button.text}</span>
          </button>
        </a>
      )}
    </div>
  </div>
</div>
