---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import { Calendar, FileUser, Github, Linkedin, Mail, MapPin } from 'lucide-react'

import { Bar } from '@/components/Bar'
import { getCdnImageUrl, getProgressPercent } from '@/utils'

interface Props {
  languages?: CollectionEntry<'languages'>[]
  skills?: CollectionEntry<'technologies'>[]
}

const { languages, skills } = Astro.props
const { commonTranslations, bio, lang } = Astro.locals

const { avatar, name, position, location } = bio

const subInfo = [
  {
    icon: Calendar,
    label: commonTranslations.status.available,
  },
  {
    icon: MapPin,
    label: location,
  },
]

const contactIcons: Record<string, typeof Mail> = {
  email: Mail,
  linkedin: Linkedin,
  github: Github,
  cv: FileUser,
}
---
<aside
  class:list={[
    'flex flex-col gap-3 w-full',
    'sm:grid sm:grid-cols-2 sm:grid-rows-5 sm:gap-6',
    'xl:flex xl:flex-col',
  ]}
>
  <section class:list={['panel-section sm:col-span-1 sm:row-span-5']}>
    <div class="avatar avatar-online">
      <div class="aspect-square w-32 rounded-full">
        <Image src={getCdnImageUrl(avatar)} alt={name} inferSize />
      </div>
    </div>

    <h2 class="font-semibold text-lg">{name}</h2>
    <span class="text-sm">{position}</span>

    {subInfo.map(({ icon: Icon, label }) => (
      <span class="flex items-center gap-1 text-base-content/60 text-sm">
        <Icon size={14} />
        {label}
      </span>
    ))}
  </section>

  <section class:list={['panel-section sm:col-span-1 sm:row-span-1']}>
    <ul class="flex justify-evenly w-full gap-4">
      {Object.entries(bio.contacts).map(([key, { value, download }]) => {
        const Icon = contactIcons[key]
        return Icon ? (
          <li>
            <a href={value} title={key} class="hover:text-primary transition-colors duration-300" download={download}>
              <Icon size={18} />
            </a>
          </li>
        ) : null
      })}
    </ul>
  </section>

  <section class:list={['panel-section sm:col-span-1 sm:row-span-3']}>
    <ul class="flex flex-col w-full gap-2">
      {languages?.map(({ data: language }) => (
        <Bar
          title={language.translations[lang].name}
          progress={getProgressPercent(language.level)}
        />
      ))}
    </ul>
  </section>

  <section class="sm:col-span-1 sm:row-span-1">
    <ul class="flex flex-wrap justify-evenly gap-2">
      {skills?.filter(({ data: skill }) => skill.isMain).map((skill) => (
        <li class="badge badge-primary">{skill.data.name}</li>
      ))}
    </ul>
  </section>
</aside>
