---
import { ClientRouter } from 'astro:transitions'

import LangToggle from '@/components/LangToggle.astro'
import ThemeToggle from '@/components/ThemeToggle.astro'

import { Logo } from './Logo'
import '../styles/root.css'
import '../styles/reset.css'

const { title, lang } = Astro.props
const { commonTranslations } = Astro.locals
---

<!DOCTYPE html>
<html lang={lang} data-theme="dracula">
  <head>
    <script is:inline>
    const stored = JSON.parse(localStorage.getItem('theme') || 'null')
    document.documentElement.dataset.theme = stored === 'lofi' ? 'lofi' : 'dracula'
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="sticky top-4 z-10 flex items-start justify-between px-4">
      <div class="flex items-center gap-2 header-island">
        <button class="w-8 h-8 text-base-content btn btn-ghost btn-circle">
          <Logo />
        </button>
        <a href={`/${lang}#contact`} class="btn btn-primary btn-sm rounded-full">
          {commonTranslations?.['actions.contactMe']}
        </a>
      </div>

      <div class="flex gap-2 header-island">
        <ThemeToggle />
        <LangToggle currentLang={lang} />
      </div>
    </div>
    <main>
      <ClientRouter />
      <slot lang={lang} />
    </main>
  </body>
</html>
